<style type="text/css">


html, body {
    height: 100%;
    position: relative;
    
    }

body {
    font-family: 'Raleway'. sans-serif;
    margin: 0;
    display: block;
   
    }

#logo {
    margin-top: 50px;
    position: absolute;
    z-index: 99;
    height: auto;
    max-width: 100%;
    transform: translate(-50%, -50%);
    top: -10%;
    left: 50%;
    margin:0;
    padding: 0 10px;

    }

.splash {
    background: url(images/soccerfield-at-night.jpg) fixed top center;
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-size: cover;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    text-shadow: 3px 3px 8px #909090;
   
    }

.opening-section {
    padding: 200px 0;
    transition: all ease-in-out 250ms; 
    
    }

.splash-title {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size-adjust: auto;
    
    }

#attributes {
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-align: center;
    
    }

.btn-lg {
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 1px;
    border: 2px solid white;
    font-weight: 600;
    letter-spacing: normal;
    
    }

.btn-lg:hover {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
    transition: all ease-in-out 300ms;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #909090;

    }

.btn-lg:focus {
    color: white;
    
    }

.navigation-container {
    background-color: #909090;
    position: relative;
    height: 81px;

    }

.affix {
    top: 0;
    width: 100%;
    z-index: 999 !important;
    position: fixed;
    
    }


.navbar-maya {
    transition: all ease-in-out 250ms;
    background-color: white;
    border-radius: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0,.25);
    z-index: 50;
    text-align: center;
   
    }

.navbar-toggle {
    float: none;
    color: #342C28;
    
    }

.navbar-maya .navbar-nav {
    position: relative;
    float:none;
    display:inline-block;

    }

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    
    }

.navbar-maya .nav>li>a {
    font-weight: 700;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    
    }

.navbar-maya .nav >li.active>a {
    color: black;
    border-bottom-color: black;

    }

a {
    text-decoration: none;
    color: #9d9d9d;
    
    }

a:focus{
    text-decoration: none;
    color: black !important;
    background-color: transparent !important;
    border-bottom: 2px solid black !important;
    
    }

a:hover {
    text-decoration: none;
    color: #D4633E !important;
    background-color: transparent !important;
    border-bottom: 2px solid #D4633E !important;
    transition: all ease-in-out 250ms;
    
    }

.section { 
    display:block;
    height: auto;
    padding-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0,.25);

    }

.color-section {
    background-color: #F7F6F4;
    
    }

.section-heading {
    text-align: center;
    margin-bottom: 30px;
    
    }

.section-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: inline-block;

    }

p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #555554;
    text-align: left;
    
    }

.student-image {
    position: relative;
    
    }

#profilePic {
    height: auto;
    width: auto;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 10px 4px 10px rgba(0, 0, 0,.35);
    cursor: pointer;
    
    }

h4 span {
    position: absolute; 
    top: 60%;
    left: 60%; 
    width: 20%; 
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    
    }


#profilePic:hover {
    opacity: .8;
    
    }

.modal {
    margin-top: 12%;
    
    }

.modal-body {
    background-color: #F7F6F4;
    
    }

#jersey {
    color: #D4633E;
    text-transform: uppercase;
    text-align: left;
    margin-top: 5px;
    margin: 0 auto;
    display: block;
    
    }

#contact {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 17px;
    
    }

#email {
    color: darkblue;
    
    }

.modal-list {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    
    }

.fa-institution {
    font-size: 112px;
    color: #D4633E;
    margin-top: 5%;
    
    }

.color-section {
    background-color: #F2F2F2;
    
    }

.fa-book {
    font-size: 112px;
    color: #D4633E;
    margin-top: 5%;
    
    }

.panel-body li {
    font-size: 16px;
    color: black;
    list-style-type: none;
 
    }

.panel-heading {
    text-align: center;
    border-bottom: 2px solid lightgray;
    display: block;
    text-transform: uppercase;
    
    }

.panel {
    box-shadow: 10px 4px 10px rgba(0, 0, 0,.35);
    height: 100%;
    
    }

/*panel size*/

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
    }

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
    }

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
    }

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div     {
	width:100%;
    }


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
    }

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
    }

/*end panel size*/


/*panel animation*/
.come-in {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-animation: come-in 0.9s ease forwards;
          animation: come-in 0.9s ease forwards;
    }

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
    }

.already-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
    }

@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

/*end panel animation*/


.club li {
    font-size: 16px;
    color: black;
    list-style-type: none;
    text-align: left;
 
    }

.clubtitle {
    text-transform: uppercase;
    
    }


.location {
    text-transform: uppercase !important;
    font-weight: bold;
    text-align: center !important;
    
    }

.carousel {
    margin-top: 20px;
    
    }

.carousel img {
    object-fit: contain;

    }

.carousel-inner > .item > img { 
    width: 100%; height: 500px;
    
    }

.carousel-inner > .item > video { 
    width: 90%; height:500px;
    
    }

.embed-responsive {
    margin-bottom: 90px;
    width: 100%;
    
    }

.youtube {
    text-align: center;
    font-weight: 600;
    
    }

.carousel-control {
    width: 5%;
        
    }

.footer {
    background-color: #132639;
    padding-top: 5px;
    padding-bottom: 5px;
   
    }

.footer .fa {
    display: inline-block;
    
    }

.contact-icons {
    margin-bottom: 50px;
    letter-spacing: 10px;
    
    }

#footer-blurb {
    margin-top: 50px;
    color: #9d9d9d;
    font-size: 13px;
    
    }

.custom-icon {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  font-size: 22px;
  color: #9d9d9d;
  height: 60px;
  padding: 18.8px;
  text-align: center;
  vertical-align: middle;
  width: 60px;
    
    }

.icon-wrapper {
  display: inline-block;

    }


.section { padding-top: 75px; }
@media screen only and (max-width: 768px) {
    body { padding-top: 0px; }
    }


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
        visibility: visible !important;
        }
    
    .navbar-collapse.collapse.in {
        display: block !important;
        
        }
    
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
        } 
    }

@media (max-width: 767px) and (min-width: 400px) {
    
.carousel-inner > .item > img { 
    width:100%; height:280px;
    }
    
.carousel-inner > .item > video { 
    width:95%; height:280px;
    }

.splash-title {
    font-size: 20px !important;
    letter-spacing: 1px;
        }
    }

@media (max-width: 767px) and (min-width: 400px) {

#attributes {
    font-size: 16px !important;
    letter-spacing: 1px;
        }
    }



</style>